# Ignorar la carpeta .vs de Visual Studio
.vs/

# Ignorar archivos de paquetes y binarios
AuthAPI/bin/
AuthAPI/obj/

# Ignorar archivos de configuración de usuario
*.user
*.

AuthAPI/appsettings.json
AuthAPI/appsettings.Development.json